[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "douban"

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-login = "*"

[requires]
python_version = "3.7"
